node_modules
.env

.states

# Hardhat files
/cache
/artifacts
/hardhat.config.js
/contracts/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

remix-compiler.config.js
package.json
